@import url(http://fonts.googleapis.com/css?family=Satisfy|Open+Sans:400,300,700);

.logo {
    width: 90px;
}

header h1 {
    color: #c9c983;
    font-family: 'Satisfy', cursive;
    margin-top: 20px;
}

/* Nav Secion */

.nav {
    margin-top: 20px;
}

/* nav > .nav > li {
    border: 1px solid #5c433f;
    border-radius: 5px;
} */

 a {
    border: 1px solid #5c433f;
    border-radius: 5px;
    text-decoration: none;
    color: #5c433f;
}

.nav-pills > li.active > a {
    color: #5c433f;
    background-color: #eeddcd;
}
/* End of Nav Section */


/* Jumbotron Section */
.jumbotron {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
}

.jumbotron h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #ffffff;
}

/* End of Jumbotron */

/* MAIN SECTION */

.img_box {
    background-color: #eeddcd;
    padding: 10px;
    border-radius: 10px;
}

/* .product {
    margin-right: 5px;
} */

aside > ul > li > a {
    background-color: #eeddcd;
}

.btn {
    border: 1px solid #5c433f;
    background-color: #fff;
}

/* END OF MAIN SECTION */